### $Temp = a \times b^{time}$
### $ln(Temp) = ln(a) + {time} \times ln(b)$

### $A = regression(ln(a))$
### $B = regression(ln(b))$

### $ln(Temp) = A + {time} \times B$
### ${time} = \dfrac{ln(Temp) - A}{B}$

In [3]:
import pandas as pd
import math
import numpy as np

#df = pd.read_csv("HT_TI_2186A.PV.csv")
#df = pd.read_csv("HT_TI_2186C.PV.csv")
df = pd.read_csv("HT_TI_2186E.PV.csv")

Lambda =  math.log(2) / 10

In [4]:
df['time'] = pd.to_datetime(df.time)
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day

df1 = df[['temperature', 'time']]
df1 = df1[ (df1.temperature > 60) ]
df1['time1'] = (df1.time - pd.to_datetime('2017-01-01')).dt.days
df1

       temperature                time  time1
0        61.178613 2017-06-06 00:05:00    156
1        61.138004 2017-06-06 00:15:00    156
2        61.277757 2017-06-06 00:25:00    156
3        61.296651 2017-06-06 00:35:00    156
4        61.429301 2017-06-06 00:45:00    156
...            ...                 ...    ...
48623    61.484407 2023-06-22 06:00:00   2363
48624    61.140919 2023-06-22 07:00:00   2363
48625    60.797430 2023-06-22 08:00:00   2363
48626    60.453942 2023-06-22 09:00:00   2363
48627    60.110454 2023-06-22 10:00:00   2363

[33426 rows x 3 columns]

In [5]:
B, A = np.polyfit(df1.time1, np.log(df1.temperature), 1)
print(B, A)

-1.3770195742751864e-06 4.159638517045775

In [6]:
Temp = 120.4 
time = (math.log(Temp) - A) / B

In [9]:
abs(time)/365

1249.180371920574