### $R(Temp) = R_0 \times e^{-\lambda \times {Temp}}$

### $R(Temp_2) - R(Temp_1) = R_0 \times (e^{-\lambda {Temp_2}} - e^{-\lambda {Temp_1}})$

### $\Delta {R} = R_0 \times \Delta \tau$

### $R_0 = \dfrac{\Delta {R}}{\Delta \tau}$

In [1]:
import pandas as pd
import math
import numpy as np
import plotly.express as px

#df = pd.read_csv("HT_TI_2186A.PV.csv")
#df = pd.read_csv("HT_TI_2186C.PV.csv")
df = pd.read_csv("HT_TI_2186E.PV.csv")

Lambda =  math.log(2) / 10 
Lambda

0.06931471805599453

In [47]:
df['time'] = pd.to_datetime(df.time)
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day

selected_cols = ['year']

df1 = df[['temperature', *selected_cols]]
df1 = df1[ (df1.temperature > 60) ]
df1 = df1.groupby(selected_cols).mean()
df1.reset_index(inplace=True)
df1['tau'] = np.exp( -Lambda * (df1['temperature']) )
df1

   year  temperature       tau
0  2017    65.752249  0.010487
1  2018    63.487263  0.012270
2  2019    63.691045  0.012098
3  2020    65.315423  0.010810
4  2021    62.816761  0.012854
5  2022    63.422990  0.012325
6  2023    64.169928  0.011703

In [56]:
#df1['tau_s1'] = df1.tau.shift(1)
df1['d_tau'] = df1.tau - df1.tau.shift(1) 
df1['d_year'] = -1
df1['R0'] = df1.d_year / df1.d_tau
df1

   year  temperature       tau     d_tau  d_year           R0
0  2017    65.752249  0.010487       NaN      -1          NaN
1  2018    63.487263  0.012270  0.001783      -1  -560.933876
2  2019    63.691045  0.012098 -0.000172      -1  5810.727861
3  2020    65.315423  0.010810 -0.001288      -1   776.244963
4  2021    62.816761  0.012854  0.002044      -1  -489.221995
5  2022    63.422990  0.012325 -0.000529      -1  1890.619529
6  2023    64.169928  0.011703 -0.000622      -1  1608.074679

In [62]:
estR0 = df1.R0.median()
variance = df1.R0.describe()
variance

count       6.000000
mean     1505.918527
std      2344.128930
min      -560.933876
25%      -172.855256
50%      1192.159821
75%      1819.983316
max      5810.727861
Name: R0, dtype: float64

In [71]:
Temp = 90
R = estR0 * np.exp( -Lambda * Temp)
R * 365

849.8795600033529