### $T_0 - T(t) = R_0 e^{- \lambda t}$
### $\lambda = \dfrac{ln2}{10}$

- ### $T_0 - T(t) = R(t)$: Remaining useful line (RUL)
- ### $t$: nhiệt độ hiện thời

### Let $\tau = e^{-\lambda t}$, then ..

### $T_0 - T(\tau) = R(\tau) = R_0 \tau$

### $T(\tau) = T_0 - R_0 \tau$

### Thus, if we have sample set of $(T_i, \tau_i)$, we can find $R_0$ and $T_0$ by the simple linear regression method:

### $R_0 = - \dfrac{\sum (T_i - \bar{T_i})( \tau_i - \bar{\tau_i}) }{\sum (\tau_i - \bar{\tau})^2 }$
### $T_0 = \bar{T_i} + R_0 \bar{\tau_i}$

In [8]:
import pandas as pd
import math
import numpy as np

df = pd.read_csv("HT_TI_2186A.PV.csv")
#df = pd.read_csv("HT_TI_2186C.PV.csv")
#df = pd.read_csv("HT_TI_2186E.PV.csv")

Lambda =  math.log(2) / 10

In [9]:
df['time'] = pd.to_datetime(df.time)
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day

df1 = df[['temperature', 'year', 'month', 'day']]
df1 = df1[ (df1.temperature > 60) ]  # Filter noise

#df1 = df1.groupby(['year', 'month', 'day']).mean()
df1 = df1.groupby(['year']).mean()

df1.reset_index(inplace=True)
df1['tau'] = np.exp( -Lambda * (df1['temperature'] - 60))
df1

   year  temperature     month        day       tau
0  2017    63.962912  8.579005  14.404558  0.759809
1  2018    64.092703  7.120642  15.097234  0.753004
2  2019    64.318590  5.983095  15.643009  0.741306
3  2020    65.897784  6.247489  15.822536  0.664445
4  2021    63.324790  7.316941  15.952177  0.794171
5  2022    63.930150  5.100461  14.980076  0.761536
6  2023    64.816346  4.088518  14.752933  0.716166

In [23]:
# Linear regression
slope, interceptor = np.polyfit(df1.tau, df1.year, 1)
print(slope, interceptor)

-21.306730542129763 2035.3137905902354

In [24]:
temp = 71.7
L = slope * math.exp(-Lambda * (temp - 60))

In [22]:
df1 = df1[df1.temperature > df1.temperature.values[0]]
df1

   year  temperature     month        day       tau
1  2018    64.092703  7.120642  15.097234  0.753004
2  2019    64.318590  5.983095  15.643009  0.741306
3  2020    65.897784  6.247489  15.822536  0.664445
6  2023    64.816346  4.088518  14.752933  0.716166